{% load thumbnail %}

{% for op_post in thread.op_post %}
<hr>
{% if op_post.topic %}
<h3>
  <a href="/{{ board_slug }}/{{ thread.slug }}">{{ op_post.topic }}</a>
</h3>
{% endif %}

{% thumbnail op_post.image "100x100" as im %}
<img src="{{ im.url }}">
{% endthumbnail %}

<p>Created: {{ op_post.pub_date }} by {{ op_post.author_name }}</p>
<p>Last post: {{ thread.bump_date }} by TODO~</p>
{{ op_post.text }}
<center><a href="/{{ board_slug }}/{{ thread.slug }}">[ Open thread ]</a></center>  
<hr>
{% endfor %}
