{% extends "board/base.html" %}
{% load thumbnail %}

{% block content %}

{% if post_list %}

{% for post in post_list %}
<hr>
{% thumbnail post.image "100x100" as im %}
<img src="{{ im.url }}">
{% endthumbnail %}
<h4>{{ post.topic }}</h4>
by {{ post.author_name }}
{% if post.author_email %}
({{ post.author_email }})
{% endif %}
at {{ post.pub_date }}
<p>
    {{ post.text }}
<hr>
{% endfor %}

{% else %}
<p>There are no posts!</p>
{% endif %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="sumbit">Reply!</button>
</form>

{% endblock %}
