{% extends "board/base.html" %}

{% block content %}

{% include "board/thread_preview.html" %}

{% if posts_list %}

{% for post in posts_list %}
<hr>
<h4>{{ post.topic }}</h4>
by {{ post.author_name }}
{% if post.author_email %}
({{ post.author_email }})
{% endif %}
at {{ post.pub_date }}
<p>
    {{ post.text }}
<hr>
{% endfor %}

{% else %}
<p>There are no posts!</p>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <p>Topic: {{ form.topic }} Name: {{ form.author_name }} E-mail: {{ form.author_email }}</p>
    <p>SAGE: {{ form.is_sage }}</p>
    <p>Post: {{ form.text }}</p>
    <!-- {{ form.as_p }} -->
    <button type="sumbit">Reply!</button>
</form>

{% endblock %}
